configuration.env
logs
projment
__pycache__
.vscode
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/my-deployment-package.zip
processing_json.zip
youtube_create.sql
plugins