configuration.env
logs
projment
__pycache__
.vscode
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform
terraform/my-deployment-package.zip
youtube_create.sql
plugins
dags/scripts/transform_json.zip